body {
	margin: 0px;
	text-align: center;
	font-family: 'Lusitana', serif;
}
h1 {
	font-size: 50px;
	font-family: 'Oleo Script', cursive;
}
h2 {
	font-size: 40px;
	margin: 50px 0px 10px;
	font-family: 'Comic Neue', cursive;
}
h3 {
	font-size: 30px;
	font-family: 'Comic Neue', cursive;
}
p {
	font-size: 25px;
	line-height: 1.5;
	font-family: 'Comic Neue', cursive;
}
a {
	text-decoration: none;
	color: #d90000;
	font-size: 15px;
}
.div-atas {
	margin: 0px 0px 50px;
	padding: 10px 10px 0px;
	background-color: #ff7e28;
}
.div-atas .foto-atas {
	position: absolute;
	left: 30px;
	top: 30px;
}
.div-atas p {
	text-align: center;
}
.div-atas h1 {
	text-align: center;
	margin-top: 130px;
}
.calon { font-family: 'Marck Script', cursive; }
.div-atas div {
	position: absolute;
	right: 30px;
	top: 50px;
}
.div-atas a {
	display: inline-block;
	width: 65px;
	text-align: center;
}
.div-atas .tentang { width: 120px; }

.div-tengah p {
	width: 600px;
	margin-left: auto;
    margin-right: auto;
}

.profildiri {
	width: 1000px;
	margin-left: auto;
    margin-right: auto;
}
.profildiri img {
	position: relative;
	top: 40px;
}
.profildiri div {
	width: 700px;
	display: inline-block;
	text-align: left;
}
.div-bawah {
	background-color: #ff7e28;
	height: 150px;
	margin: 90px 0px 130px;
}
.div-bawah div {
	position: relative;
	top: 30px;
	margin: auto;
	width: 50%;
}
.div-bawah a {
	display: inline-block;
	width: 75px;
	text-align: center;
	height: 30px;
}
.div-bawah .tentang { width: 100px; }
.div-bawah .sosmed {
	color: black;
	font-size: 16px;
	font-weight: bold;
	width: 100px;
}
hr {
	border-width: 0px;
	position: relative;
	top: 20px;
	border-bottom-style: solid;
	border-color: red;
	border-bottom-width: 3px;
	width: 100px;
}
